@import url('https://fonts.googleapis.com/css?family=Barlow:400,700&display=swap');

$white: #fff;
$font-family: 'Barlow', sans-serif;
$gray: #e0e6ee;
$dark-blue: #00687f;
$blue: #1ba1be;
$dark-gray: #474747;
$light-gray: #e5e5e5;
$collapser-shadow: 0px 4px 12px rgba(224, 230, 238, 0.5);
$films-contaniner-shadow: 0px 2px 1px rgba(196, 196, 196, 0.2);
$hr-color: #c4c4c4;
$loader-shadow: #f1f1f1;
