@import '../../../globalStyles/variables.scss';

.films-container {
	margin: 30px auto;
	background: $gray;
	width: 790px;
	min-height: 736px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 0 30px;
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		min-height: 400px;
		width: 100%;
		padding-bottom: 30px;
		border-bottom: 4px dotted $white;
	}
}

h3 {
	color: $dark-gray;
	text-align: center;
	padding: 10px;
}
