@import '../../../globalStyles/variables';

.loader {
	width: 50px;
	height: 50px;
	border: 4px solid $blue;
	border-radius: 50%;
	animation: spin 2s linear infinite;
	position: relative;
	margin: 20px auto;
	&:before,
	&:after {
		content: "";
		display: block;
		width: 10px;
		height: 10px;
		border-top: 3px solid $blue;
		border-right: 3px solid $blue;
		position: absolute;
		top: 5px;
		left: -5px;
		box-shadow: 1px -1px 0 1px $loader-shadow;
	}

	&:after {
		top: 39px;
		left: 35px;
		border: none;
		border-bottom: 3px solid $blue;
		border-left: 3px solid $blue;
		box-shadow: -1px 1px 0 1px $loader-shadow;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
